/* Nav-bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#bdecb6;
}
li {
  color: white;
}
  li a {
  float: right;
  color: white;
  text-align: center;
  padding: 40px 22px;
  text-decoration: none;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
li a:hover {
  background-color: #77DD77;
}
.left {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.right{
  display: inline;
}
.flex-container {
  display:flex;
}
.gallery {
  margin: 50px;
}
.flex-container1 {
  display:flex;
}
.gallery1 {
  margin: 50px;
}